/* Poppins */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Manrope', sans-serif; */

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0%;
}

/* set up the body */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- */
/* Utility classes                 */
/* --------------------- */

:root {
  --clr-royalblue: #2405f2;

  --clr-darkBlue: #282938;
  --clr-grey: #f4f6fc;
  --clr-yellow: #fcd980;
  --clr-tintBlue: #1c1e53;
  --clr-accent: #eef4fa;
  --clr-light: rgba(252, 217, 128, 0.1);
  --clr-white: #ffff;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  /* padding-inline: 2em; */
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* typography */

a {
  text-decoration: none;
}

h1 {
  font-size: 54px;
  line-height: 74px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}

h3 {
  font-size: 38px;
  line-height: 56px;
  font-weight: 600;
}
h4 {
  font-size: 36px;
  line-height: 56px;
  font-weight: 600;
}
h5 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}
h6 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.label01-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.label02-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.text-dark {
  font-family: 500;
}

.btn {
  background-color: transparent;
  border: none;

  font-size: 18px;
  border-radius: 55px;
  cursor: pointer;
  width: fit-content;
}

.btn-primary {
  background-color: var(--clr-yellow);
  padding: 16px 48px;
  border-radius: 55px;
}

.btn-primary:hover {
  background-color: #fde4a6;
  padding: 16px 48px;
}

.btn-secondary {
  background-color: var(--clr-darkBlue);
  padding: 16px 48px;
  color: var(--clr-white);
}

.btn-secondary:hover {
  background-color: #535460;
}

.btn-link {
  border: none;
  color: var(--clr-white);
  /* padding: 16px 48px; */
}

.btn-project-hover {
  color: var(--clr-yellow);
  font-size: 16px;
  font-weight: 500;
}

/* custom styles  */

/* hero home */
.home-hero-section {
  background-color: var(--clr-tintBlue);
  /* height: 760px; */
  /* height: 80vh; */
}

/* navbar */

.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

/* menu */

.nav-menu {
  list-style-type: none;
  gap: 32px;
  padding: 0;
}

.navbar-right {
  gap: 0;
}

.menu-link {
  color: #bbbbcb;
  font-size: 16px;
}

.active {
  color: var(--clr-white);
}

.contact-us {
  border: 1px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  color: var(--clr-white);
  margin-left: 48px;
  font-size: 16px;
}

/* hero content */

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 128px 0;
}

.hero-title {
  color: var(--clr-white);
}

.hero-text {
  color: var(--clr-white);
  max-width: 550px;
  margin-bottom: 48px;
}

.btn-dark {
  color: var(--clr-royalblue);
}

/* work container */

.section-work {
  background-color: #f4f6fc;
  padding: 128px 0;
}

.work-container {
  /* grid-template-columns: 1fr 1fr; */

  /* gap: 142px; */

  /* - */
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
}

.work-header {
  max-width: 400px;

  /* - */
  grid-column: 1 / span 4;
}

.section-text {
  margin-bottom: 16px;
  color: var(--clr-darkBlue);
}

.work-content {
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 3rem; */

  /*  */
  grid-column: 6 / span 6;
}

.cards {
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 48px;
}

.card-title {
  margin-bottom: 8px;
}

/* our projects */
/* our projects */

.section-project {
  margin-bottom: 92px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 164px;
  margin-bottom: 64px;
}

.work-images {
  /* grid-template-columns: repeat(12, 1fr); */
}

.work-card-left {
  grid-column: 1 / span 8;
}
.work-card-right {
  grid-column: 9 / span 12;
  grid-row-gap: 32px;
}

.work-card img {
  width: 100%;
}

.work-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  transform: translateX(-100%);
  transition: all 400ms;
  /* display: none; */
}

.overlay.overlay-full {
  width: 100%;
}

.project-title {
  color: var(--clr-accent);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}

.project-text {
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
}

.overlay-content {
  z-index: 99;
}

.work-card:hover .overlay {
  transform: translateX(0%);
  transition: all 400ms;
}

/* section features */

.section-features {
  background-color: var(--clr-accent);
  padding: 128px 0;
}

.feature-title-wrapper {
  text-align: center;
  max-width: 630px;
  margin: 0 auto 47px auto;
}

/*  <!-- features-cards--> */

.feature-card {
  background-color: var(--clr-white);
  padding: 48px;
}

.feature-wrapper {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  gap: ;
}

.card-title {
  margin: 25px 0 12px 0;
}
